name: Ruff

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: "actions/checkout@v5"
      - name: ruff-action
        uses: astral-sh/ruff-action@v3.5.1